# set up URL rewriting so that root/foobar becomes root/site.php?page=foobar
RewriteEngine On
RewriteBase /
RewriteRule ^([a-z]+)/?$ site.php?page=$1 [NC,L,QSA]
RewriteRule ^$ site.php?page=index [NC,L,QSA]
