@charset "utf-8";

/* font choices */
body {
    font-family: 'Fira Sans', sans-serif;
}

pre, code, tt {
    font-family: 'Fira Mono', monospace;
}

/* make body take up less space */
body {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    background: #fbfbfb;
    font-size: 110%;
}

/* use medium boldness for headings and bold tags */
h1, h2, h3, h4, h5, h6, b {
    font-weight: 500;
}

/* the top bar */
div.topbar {
    padding: 5px;
}
div.logo {
    float: left;
    display: inline-block;
}
div.menu {
    float: right;
}

/* the list of links in the topbar */
div.topbar li,
div.topbar ul {
    display: inline-block;
}
div.topbar a {
    font-size: 150%;
    text-decoration: none;
    padding: 10px;
}
a:link {
    color:#1A5D11;
}
a:visited {
    color:#1A5D11;
}
a:hover {
    color:#1A5D11;
    background: #FAFAF0;
}
a:active {
    color:#2CA119;
}

/* used for clearing the floats after they have been laid out */
.clear {
    clear:both;
    line-height:0;
}

/* used for main content on a page */
div.main {
    width:75%;
    float: left;
}

/* used for the sidebar of links */
div.sidebar {
    width:20%;
    float:right;
}

/* used for copyright info */
div.footer {
    text-align: center;
    font-size: 90%;
}

/* pre box styles */
pre {
    background: #FAFAF0;
    color: #333;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #666;

}

/* syntax highlighting colors */
.tetra-key {
    /* blue */
    color: #004088;
}
.tetra-type {
    /* yellow */
    color: #b28c10;
}
.tetra-builtin {
    /* purple */
    color: #73378c;
}
.tetra-comment {
    /* green */
    color: #1A5D11;
}
.tetra-value {
    /* red */
    color: #a00;
}

/* make things nested in omments just the comment */
.tetra-comment .tetra-key,
.tetra-comment .tetra-type,
.tetra-comment .tetra-builtin,
.tetra-comment .tetra-value {
    /* green */
    color: #1A5D11;
}

/* same for in values (for strings) */
.tetra-value .tetra-key,
.tetra-value .tetra-type,
.tetra-value .tetra-builtin {
    /* red */
    color: #a00;
}



