@charset "utf-8";

/* specify the Inconsolata DZ font (Inconsolata with straight quotes) */
@font-face {
    font-family: 'Inconsolata DZ';
    src: url('/fonts/inconsolata-dz.eot');
    src: url('/fonts/inconsolata-dz.eot?#iefix') format('embedded-opentype'),
    url('/fonts/inconsolata-dz.woff') format('woff'),
    url('/fonts/inconsolata-dz.ttf')  format('truetype');
}

/* font choices */
body {
    font-family: 'Fira Sans', sans-serif;
}

pre, code, tt {
    font-family: 'Inconsolata DZ', monospace;
}

/* make body take up less space */
body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #fcfcfc;
}

/* the top bar */
div.topbar {
    padding: 5px;
}
div.logo {
    float: left;
    display: inline-block;
}
div.menu {
    float: right;
}

/* the list of links in the topbar */
div.topbar li,
div.topbar ul {
    display: inline-block;
}
div.topbar a {
    font-size: 150%;
    text-decoration: none;
    padding: 10px;
}
a:link {
    color:#1A5D11;
}
a:visited {
    color:#1A5D11;
}
a.menu:hover {
    color:#1A5D11;
    background: #FAFAF0;
}
a:active {
    color:#2CA119;
}

/* used for clearing the floats after they have been laid out */
.clear {
    clear:both;
    line-height:0;
}

/* used for main content on a page */
div.main {
    width:75%;
    float: left;
}

/* used for the sidebar of links */
div.sidebar {
    width:20%;
    float:right;
}

/* used for copyright info */
div.footer {
    text-align: center;
    font-size: 85%;
}

/* get rid of garish borders around images in IE */
a, img {
    border:none;
    outline:none
}

/* pre box styles */
pre {
    background: #FAFAF0;
    color: #333;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
}

/* syntax highlighting colors */
.tetra-key {
    /* blue */
    color: #004896;
}
.tetra-type {
    /* yellow */
    color: #c78000;
}
.tetra-builtin {
    /* purple */
    color: #8300bb;
}
.tetra-comment {
    /* green */
    color: #070;
}
.tetra-value {
    /* red */
    color: #b00;
}


